.title {
    color: black;
    background-color: green;
    text-align: center;
    padding: 30px;

}
button {
    background-color: rgba(57, 195, 219, 0.705);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px black;
}